<div class="landing">
    <img src="assets/images/air-force(1).png" class="sneaker" alt="Nike Air Force One">
    <main class="main">
        <nav>
            <div class="logo">
                BLACKED
            </div>
            <div class="button">
                <a>View Products</a>
            </div>
        </nav>

        <h1 class="welcome">
            Welcome to your friendly neighborhood drip dealer. 
        </h1>
        <a class="explore">Explore</a>
    </main>
</div>

<h1 class="product-heading">
    Featured Items
</h1>
<div class="products">
    <div class="cards">
        <div class="card">
            <div class="card-image">
                <img src="assets/images/air-force.png" alt="">
            </div>

            <div class="card-description">
                <h2>Air Force One</h2>
                <p>ZAR1500</p>
            </div>
        </div>

        <div class="card">
            <div class="card-image">
                <img src="assets/images/air-force.png" alt="">
            </div>

            <div class="card-description">
                <h2>Air Force One</h2>
                <p>ZAR1500</p>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="assets/images/air-force.png" alt="">
            </div>

            <div class="card-description">
                <h2>Air Force One</h2>
                <p>ZAR1500</p>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="assets/images/air-force.png" alt="">
            </div>

            <div class="card-description">
                <h2>Air Force One</h2>
                <p>ZAR1500</p>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="assets/images/air-force.png" alt="">
            </div>

            <div class="card-description">
                <h2>Air Force One</h2>
                <p>ZAR1500</p>
            </div>
        </div>
    </div>
</div>

<a href="https://wa.me/27682464051" class="whatsapp" target="_blank">
    <fa-icon [icon]="faWhatsapp" class="my-float"></fa-icon>
</a>
<a href="https://www.instagram.com/bla_ckedstore/?hl=en" class="ig" target="_blank">
    <fa-icon [icon]="faInstagram" class="my-float"></fa-icon>
</a>
