<div class="landing">
    <img src="assets/images/air-force(1).png" class="sneaker" alt="Nike Air Force One">
    <main class="main">
        <nav class="sticky">
            <div class="logo">
                BLACKED
            </div>
            <div class="button">
                <a (click)="Scroll(target)">View Products</a>
            </div>
        </nav>
        <h1 class="welcome">
            Welcome to your friendly neighborhood drip dealer. 
        </h1>
        <a class="explore" (click)="Scroll(target)">Explore</a>
    </main>
</div>

<h1 class="product-heading" #target>
    Featured Items
</h1>
<div class="products">
    <div class="cards">
        <div class="card" *ngFor="let item of shoes">
            <div class="card-image">
                <img [src]="item.imagePath" alt="Product">
            </div>

            <div class="card-description">
                <h2>{{item.name}}</h2>
                <p class="color">{{item.color}}</p>
                <p class="price">{{ item.price | currency:'ZAR' }}</p>
            </div>
        </div>

    </div>
</div>

<footer>
    <div class="foot-logo">
        BLACKED &trade;
    </div>
    <div class="socials">
    </div>

    <div class="year">
        2021
    </div> 
</footer>
<a href="https://wa.me/27682464051" class="whatsapp" target="_blank">
    <fa-icon [icon]="faWhatsapp" class="my-float"></fa-icon>
</a>
<a href="https://www.instagram.com/bla_ckedstore/?hl=en" class="ig" target="_blank">
    <fa-icon [icon]="faInstagram" class="my-float"></fa-icon>
</a>
